BasedOnStyle: Microsoft

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80

PointerAlignment: Left
DerivePointerAlignment: false

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceBeforeAssignmentOperators: true
SpaceAfterCStyleCast: false
SpacesInAngles: false
SpaceAroundPointerQualifiers: Default

# 兼容旧版以获得 { 1, 2 } 效果
Cpp11BracedListStyle: false

AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
AlignAfterOpenBracket: Align

NamespaceIndentation: None
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
ReflowComments: true

# Lambda 展开
LambdaBodyIndentation: Signature
AllowShortLambdasOnASingleLine: None

# 函数定义块之间空行
SeparateDefinitionBlocks: Always

# include 管理
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[^/]+>$'
    Priority: 1
  - Regex: '^<.*/.*>$'
    Priority: 2
  - Regex: '^"(.*)"$'
    Priority: 3
